*{
     padding: 0%;
     margin: 0%;
}
textarea{
     resize: none;
} 
img{
     background-size: cover; 
     height: 100%;
     width: 100%;
     position: absolute;
     z-index: -1;
}
label{
     font-family: sans-serif;
     color: rgb(255, 255, 255);

}
form{
     border: 0.5px solid rgba(255, 255, 255, 0.5);
     height: 300px;
     width: 370px;
     font-weight: 100px;
     border-radius: 10px;
     text-align: center;
     position: absolute; 
     margin-top: 90px;
     margin-left: 60px;
     color: antiquewhite;
} 